<p style="color: green"><%= notice %></p>
<div class=container-sm>

<div class="container">
<h3>Buscador de Tweets</h3>
<%= form_with url: tweets_path, method: :get do |form|%>
<%= form.text_field :query_text, value: params[:query_text]%>
<% end %>
</div>
<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>
</div>